
@font-face {
  font-family: IranYekanbakhLight;
  font-style: normal;
  font-weight: 300;
  src: url("../Assests/font/Yekan/YekanBakhFaNum03Light.ttf")
}
@font-face {
  font-family: IranYekanbakhRegular;
  font-style: normal;
  font-weight: 400;
  src: url("../Assests/font/YekanBakhFaNum04Regular.ttf")
}

@font-face {
  font-family: IranYekanbakhMedium;
  font-style: normal;
  font-weight: 500;
  src: url("../Assests/font/YekanBakhFaNum05Medium.ttf")
}

@font-face {
  font-family: IranYekanbakhbold;
  font-style: normal;
  font-weight: 700;
  src: url("../Assests/font/Yekan/YekanBakhFaNum06Bold.ttf")
}
@font-face {
  font-family: IranYekanbakhHeavy;
  font-style: normal;
  font-weight: 800;
  src: url("../Assests/font/YekanBakhFaNum07Heavy.ttf")
}

@font-face {
  font-family: IranYekanbakhfat;
   font-style: normal;
  font-weight: 900; 
  src: url("../Assests/font/YekanBakhFaNum08Fat.ttf")
}
