@font-face {
    font-family: IranYekanbakhRegular;
    src: url('../../Assests/font/YekanBakhFaNum04Regular.ttf');
}

@font-face {
    font-family: 
    IranYekanbakhFat;
    src: url('../../Assests/font/YekanBakhFaNum08Fat.ttf');
}
.bk-req {
    font-family: IranYekanbakhRegular !important;
}